Flask
Werkzeug
flask-wtf
email-validator
flask-talisman
Flask-Limiter
bleach
google-api-python-client
cachetools
python-dotenv
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
scikit-learn
pandas
numpy